@import './tokens.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-background text-on-background font-sans text-body-base;
  }
  *:focus-visible {
    @apply outline-none ring-2 ring-secondary ring-offset-2 ring-offset-background;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
